* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;   /* simple row-reverse switches position of navicon next to header on left instead of right */
    background-color: #3de07e;   /* using bg color as img isn't wide enough to support full width without loss of quality and way too thick header */
}

nav {
    margin: 5rem 0 0 0;   /* pushing image down by adding 5rem to top of margin */
}

/* MAIN */
main {
    display: flex;
    justify-content: center;   /* centers all section boxes */
    flex-direction: column;   /* get each section on its own row */
    margin: 5rem 0;
}

/* SECTIONS 1-4 */
.section1, .section2, .section3, .section4 {
    width: 60%;   /*makes width of section box smaller so flex on main works when centering them and for articles to have smaller gaps between each other*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;   /* equal space between articles */
    flex-wrap: wrap;
    margin: 2rem auto;   /* top & Bott = 2rem, left & Right = auto (centering)*/
}

/* H2 IN ALL SECTIONS AND FOOTER */
h2 {
    font-size: 2rem;
    margin: 0.2rem 0 0 0;   /* pushes h2 in the .text-box up closer to .img and less space between h2 and text */
}

/* ARTICLES IN SECTION 1-4 */
article {
    width: 19.5rem;
    padding: 0 0 0.9rem 0;   /* bottom only */
    color: #fff;   /* just for sec 1-3 articles */
}

article .img img {
    width: 100%;
}

/* ARTICLES IN SECTION 4 ONLY */
.section4 > article {
    flex-grow: 0.47;   /* use flex-grow to make char-big-1 & 2 (photographer & personal trainer) bigger in size */
    background-color: #fff;   /* font-color overide from above */
    color: #000;
}

.section4 > article > .text-box {
    padding: 0 1.2rem;
}

/* ALL BUTTONS */
button {
    cursor: pointer;
    background: #E83F57;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 600;
    margin-top: 0.8rem;   /* space between button and p text */
}

/* SECTION 1-3 BUTTONS */
.button1 {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

/* SECTION 4 BUTTONS */
.button2 {
    padding: 1rem 1.3rem;
    font-size: 0.83rem;
}


/* FOOTER (3 ARTICLES) */
footer {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem 4rem 10rem 4rem;
}

.address, .nav-footer, .social-media-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.social-media-links > .links {
    margin-top: 1rem;
}

footer > .nav-footer > ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}