* {
    box-sizing: border-box;
}

body {
    /* background-color: #000; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
}

/* simple row-reverse switches position of navicon next to header on left instead of right */
/* using bg color as img isn't wide enough to support full width without loss of quality and way too thick header */
header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #3de07e;
}

/* pushing image down by adding 5rem to top f margin */
nav {
    margin: 5rem 0 0 0;
}

/* SECTION 1 */

/* change main to a container instead? */
/* JC: centers all section boxes */
main {
    display: flex;
    justify-content: center;
    /* get each section on its own row*/
    flex-direction: column;
    margin: 5rem 0;
}

/*change to all sections later */
.section1, .section2, .section3, .section4 {
    /*make width of section box smaller so flex on main works when centering them and for articles to have smaller gaps between each other*/
    width: 60%;
    display: flex;
    /* not neccessarily needed?*/
    flex-direction: row;
    /* equal space between articles */
    justify-content: space-between;
    flex-wrap: wrap;
    /* t & B = 2rem, l & R = auto (centering)*/
    margin: 2rem auto;
   
}

article {
    width: 19.5rem;
    /* bottom only */
    padding: 0 0 0.9rem 0;
    /* just for sec 1-3 articles */
    color: #fff;
}

/* use flex-grow to make char-big-1 & 2 (photographer & personal trainer) bigger in size */
/* font-color overide from above */
.section4 > article {
    flex-grow: 0.47;
    background-color: #fff;
    color: #000;
}

.section4 > article > .text-box {
    padding: 0 1.2rem;
}

article .img img {
    width: 100%;
}

h2 {
    font-size: 2rem;
    /* pushes h2 in the text-box up closer to .img
    and less space between h2 and text */
    margin: 0.2rem 0 0 0;
}


/* all buttons style */
button {
    cursor: pointer;
    background: #E83F57;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-weight: 600;
    /* space between button and p text */
    margin-top: 0.8rem;
}

/* section 1-3 */
.button1 {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

/* section 4 */
.button2 {
    padding: 1rem 1.3rem;
    font-size: 0.83rem;
}


/* FOOTER */

footer {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem 4rem 10rem 4rem;

}

.address, .nav-footer, .social-media-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

footer > .nav-footer > ul {
    list-style-type: none;
    padding: 0;
}


